# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.sqlite3
db.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Static and media files
staticfiles/
media/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/